/* ********************************
<div> che contiene .container
******************************** */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    margin: 20px auto;
}

/* ********************************
<div> che contiene input e label
******************************** */
.loginbox {
    margin-top: 40px;
    padding: 30px;
    border-radius: 1px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    text-align: left;
    max-width: 900px;
    min-width: 300px;
}

/* ********************************

******************************** */

label {
    box-sizing: border-box;
    display: block;
    margin-bottom: 5px;
    font-size: medium;
    font-weight: 500;
}

.lLogin {
    width: 100%;
    font-size: xx-large;
    font-weight: 600;
    color: var(--ebony-clay);
}

.inp {
    width: 95%;
    min-height: 25px;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    text-align: left;
}

.inp:focus {
    border: 1px solid var(--ebony-clay);
}

.lgn {
    min-width: 100px;
    min-height: 30px;
    width: 100%;
    font-size: large;
    color: var(--ebony-clay);
    background-color: var(--rajah);
    border: 5px solid var(--rajah);
    border-radius: 30px;
    font-weight: 500;
}

.lgn:hover, .regis:hover {
    border-color: var(--manatee);
    background-color: var(--manatee);
    cursor: pointer;
}

.nuovo, .regis {
    color: rgb(75, 75, 75);
    font-size: medium;
}

.nuovo {
    margin-left: 25px;
}

.regis {
    font-size: medium;
    width: auto;
    height: auto;
    background-color: var(--rajah);
    border: 7px solid var(--rajah);
    border-radius: 7px;
    padding: 0px 4px;
    margin-left: 10px;
}