.body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 15px;
}

.content {
    width: 30%;
    height: auto;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 15px;
}

.field {
    margin-top: 30px;
}

.input {
    padding: 15px;
}

label {
    display: block;
    text-align: center;
}

.tabs {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
}

*.is-active, *.is-active > i {
    color: hsl(48, 100%, 67%);
}