/* ********************************
<div> che contiene .container
******************************** */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    margin: 20px auto;
}

/* ********************************
label for .container
******************************** */
.Lcontainer {
    position:relative;
    top: 35px;
    color: var(--ebony-clay);
    font-size: xx-large;
    font-weight: 600;
}

/* ********************************
<div> che contiene .article
******************************** */
.container {
    margin-top: 40px;
    padding: 30px;
    border-radius: 1px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    text-align: center;
    max-width: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

/* ********************************
<div> che contiene .genere, .corpo e .linked (e l'emoji)
******************************** */
.article {
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 1px;
    padding: 10px 20px;
    margin: 5px;
    max-width: 280px;
}

.genere, .corpo, .linked {
    font-size: medium;
}

.genere {
    color: var(--ebony-clay);
    font-weight: bold;
}

.linked, .fi-ts-padlock-check {
    cursor: pointer;
}

.linked:hover {
    color: var(--manatee);
}

.linked {
    color: var(--rajah_more);
    font-weight: 600;
}

.fi-ts-padlock-check {
    color: var(--ebony-clay);
    font-weight: 900;
}