:root {
    font-family: 'Inter', sans-serif !important; /* Default font for the entire website */
    font-weight: 450 !important; /* Default font weight for the entire website */
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
    --background-color: #8ed0ab !important; /* Background color for the entire website, including individual sections */
    --default-color: #0f2141; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #e0e9f2; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #277fe3; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #4e6384; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #b2becf; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
    --complementary-color: #f0f0f0; /* A complementary color that can be used for secondary buttons, links, or other elements that need to stand out but not as prominently as the accent color */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
    --nav-color: rgba(
        255,
        255,
        255,
        0.8
    ); /* The default color of the main navmenu links */
    --nav-hover-color: #0f2141; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #29343a; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #29343a; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: rgba(
        255,
        255,
        255,
        0.8
    ); /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #0f2141; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    z-index: 997;
    padding: 25px 45px;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif !important; /* Default font for the entire website */
    font-weight: 450 !important; /* Default font weight for the entire website */
}

a {
    color: var(--accent-color);
    text-decoration: none !important;
    transition: 0.3s;
}

a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 !important;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
    background-color: var(--background-color);
    width: 100%;
}

.nav.link {
    color: var(--contrast-color);
}

.nav-link.active {
    color: var(--nav-hover-color) !important;
}

.navbar .container-fluid {
    width: fit-content;
    margin: 0;
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nav-hover-color);
    width: 45px;
    height: 45px;
}

.gap {
    padding: 10px;
}

svg {
    width: 35px;
    height: 35px;
}

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

.ubuntu-light {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: italic;
}
