* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    height: auto;
    max-height: max-content;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: min-content;
    height: 100%;
    padding: 5px 20px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    color: black;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1001;
}

nav {
    display: flex;
    gap: 20px;
}

.card {
    max-width: 300px;
}

.card-header {
    position: initial;
}

.container {
    /* background-color: aliceblue; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 200px;
}

.center {
    margin-right: 60px;
}

.subtitle {
    margin-top: 10px;
    text-align: justify;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column.is-one-quarter.left {
    justify-content: left;
    align-items: left;
    gap: 10px;
}

.column.is-one-quarter.right {
    justify-content: right;
    align-items: right;
}

.card-content > .title {
    width: 100%;
    text-align: center;
}

.navbar-item:hover, .navbar-item.has-text-link.transfer:hover {
    background-color: rgb(0, 0, 0, 0.1);
    color:hsl(var(--bulma-warning-h), var(--bulma-warning-s), var(--bulma-warning-l))
}

.navbar-item.has-text-link.transfer {
    display: none;
}

@media screen and (max-width: 768px) {
    
    header {
        flex-direction: row;
        align-items: row;
        max-height: max-content;
        padding: 0;
        margin: 0;
    }
    
    .header.columns {
        max-height: 100px;
    }

    .column.is-one-quarter.left {
        max-width: fit-content;
        z-index: 1001;
    }
    .column {
        max-width: fit-content;
    }

    .navbar-menu {
        position: absolute;
        z-index: 1100;
        top: 75%;
        left: 3%;
        background-color: white;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left {
        width: 100%;
        justify-content: space-between;
    }

    .center {
        margin-right: 0;
    }

    .button.is-warning.ok {
        display: none;
    }

    .navbar-item.has-text-link.transfer {
        display: inherit;
    }
}