.main-content {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    max-width:1250px;
    margin:10px auto
}
    
.container{
    margin-top:40px;
    border-radius:1px;
    border:1px solid rgb(0,0,0,.1);
    text-align:center;
    max-width:1250px;
    width:55%;
    max-height:500px;
    display:flex;
    flex-direction:column;
    justify-content:left;
    padding:20px
}

.side{
    margin-top:40px;
    border-radius:1px;
    border:1px solid rgb(0,0,0,.1);
    max-width:250px;
    width:100%;
    height:300px;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between
}

.inp{
    font-size:medium;
    width:auto;
    max-width:200px;
    height:25px;
    padding:5px;
    border-radius:5px;
    border:1px solid rgb(0,0,0,.1);
    text-align:left}
    
.inp:focus{
    background-color:var(--rajah)
}
    
.art,.sub{
    display:block
}

.sub{
    font-size: x-large;
    color:var(--ebony-clay);
    text-align:left;
    width:100%;
    font-weight:600;
}

.art{
    margin-top:10px;
    color:#000;
    font-size:medium
}

.items{
    display:flex;
    flex-direction:column;
    justify-content:left
}

.payment-icon{
    display:block;
    width:74px;
    height:46px;
    border-radius:6px;
    margin:0;
    border:2.5px solid #000
}

.apple-icon{
    width:78px;
    height:50px;
    border:0 solid #000;
    border-radius:6px
}

.apple-icon:hover{
    cursor:pointer;
    border:.1px solid var(--rajah)
}

.payment-icon:hover{
    cursor:pointer;
    border-color:var(--rajah)
}

.payment-methods{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin-top:20px;
    max-width:300px;
    max-height:50px
}

.fatturazione{
    padding:5px;
    margin-top:25px;
    width:100%;
    height:100%
}

.dati{
    padding:5px;
    border:1px solid rgb(0,0,0,.1);
    margin:2px;width:70%;
    height:70%
}

.left{
    text-align:right;
    font-size:medium
}

.centered{
    text-align:center;
    font-size:medium
}

.dati td{
    font-size:medium;
    padding:5px
}

.text {
    margin-top: 10px;
    text-align: justify;
}

.grp {
    padding: 5px;
}

.title {
    font-size: xx-large;
    color: var(--ebony-clay);
    text-align: center;
    width: 100%;
    font-weight: 600;
}