.body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.card.text {
    max-width: 700px;
}

.subtitle {
    width: 100%;
    text-align: justify;
}