.absolute-right {
    position: absolute;
    right: 0;
    margin-right: 30px;;
}

.body-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.body-container > .body-left > .card {
    width: 100%;
    max-width: 700px;
    height: fit-content;
    max-height: 500px;
}

.body-container > .body-left > .card.cart {
    width: 100%;
    height: min-content;
    max-height: 300px;
}

.body-container > .body-left > .card.cart > .card-content {
    width: inherit;
    height: inherit;
}

.body-container > .body-left > .card > .section > .control > .button {
    margin-top: 20px;
}

.confirm {
    width: 100%;
}

.confirm > .button {
    width: 100%;
    max-width: 250px;
}

.fatturazione {
    margin-top: 10px;
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    transition: transform 2s, display 1.5s linear;
}

.fatturazione > .card {
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    max-height: 500px;
    padding: 20px;
}

.fatturazione > .card > .field {
    width: 70%;
    max-width: 300px;
}

.field > .civico {
    width: 100%;
    max-width: 120px;
}

.subtitle {
    width: 100%;
    text-align: justify;
}

span {
    margin-right: 5px;
}

@media screen and (max-width: 768px) {

    .absolute-right {
        position: inherit;
        margin-right: 0;
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .absolute-right > .card {
        width: 100%;
        max-width: 300px;
    }

    .body-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .body-left {
        width: 90%;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .body-left > .card {
        position: relative;
        width: 100%;
    }

    .card.cart {
        width: 100%;
        height: min-content;
    }

    .fatturazione {
        flex-direction: column;
        align-items: center;
    }

    .fatturazione > .card {
        width: 100%;
    }
}