.absolute-right {
    position: absolute;
    right: 0;
    margin-right: 30px;;
}

.body-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.body-container > .body-left > .card {
    width: 100%;
    max-width: 700px;
    height: fit-content;
    max-height: 500px;
}

.body-container > .body-left > .card.cart {
    width: 100%;
    height: min-content;
    max-height: 300px;
}

.body-container > .body-left > .card.cart > .card-content {
    width: inherit;
    height: inherit;
}

.body-container > .body-left > .card > .section > .control > .button {
    margin-top: 20px;
}

.confirm {
    width: 100%;
}

.confirm > .button {
    width: 100%;
    max-width: 250px;
}

.fatturazione {
    margin-top: 10px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 2s, display 1.5s linear;
}

.card.gruppo {
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    max-height: 500px;
    padding: 20px;
}

.field {
    width: 70%;
    max-width: 300px;
}

.field > .civico {
    width: 100%;
    max-width: 120px;
}

.large {
    font-size: large;
}

.subtitle {
    width: 100%;
    text-align: justify;
}

span {
    margin-right: 5px;
}

.control.has-icons-left.indirizzo {
    width: 100%;
    max-width: 300px;
}

@media screen and (max-width: 768px) {

    body {
        width: 100%;
        max-height: 1000px;
        height: 100%;
    }

    .absolute-right {
        position: inherit;
        margin-right: 0;
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .absolute-right > .card {
        width: 100%;
        max-width: 300px;
    }

    .body-container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
        max-height: 1000px;
        height: 100%;
    }

    .body-left {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 1000px;
        height: 100%;
    }

    .body-left > .card {
        position: relative;
        width: 100%;
    }

    .card.gruppo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 400px;
        height: 100%;
        max-height: 600px;
        padding: 20px;
    }

    .card.cart {
        width: 100%;
        height: min-content;
    }

    .control {
        max-width: 170px;
        margin: 0;
        height: max-content;
    }

    .confirm, .delete {
        max-width: 160px;
        width: 100%;
        max-height: 50px;
        height: 100%;
    }

    .fatturazione {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 600px;
        height: 100%;
    }

    .fatturazione > .card {
        width: 100%;
    }

    .field, .field.is-grouped {
        width: 100%;
        max-width: 400px;
    }

    .field.has-addons.has-addons-centered {
        align-items: left;
        justify-content: left;
    }

    .control.has-icons-left.tel {
        width: 100%;
        max-width: 225px;
    }

    .control.has-icons-left.intestatario {
        width: 100%;
        max-width: 400px;
    }
}