.body-container {
    height: 100%;
    max-height: max-content;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 850px;
    height: 100%;
    max-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.control.is-grouped {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.field > .control, .field > .control > .input {
    width: 100%;
}

.card > .title {
    display: block;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.title, .subtitle {
    width: 100%;
    max-width: inherit;
    text-align: center;
}

.icon.is-centered{
    width: 100%;
    max-width: inherit;
    height: 100%;
}