.body-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.body-container > .card {
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    max-height: 600px;
}

.body-container > .body-left > .card > .section > .control > .button {
    margin-top: 20px;
}

.control, .control > button {
    max-width: 350px;
}

.control > input {
    max-width: 200px;
}

.subtitle {
    width: 100%;
    text-align: justify;
}

span {
    margin-right: 10px;
}