# Redirect any URL that doesn't match an existing file to "index.php"

# line 4: start the rewrite engine
RewriteEngine on 

# Escludi favicon.ico dal reindirizzamento
RewriteRule ^favicon.ico$ - [L]

# the rewrite rule at line 9 is subject to the following condition: 
# if the requested file does not exist, redirects to the script "index.php"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php

# reindirizzamento delle richiesta da http a https
RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# facciamo in modo che i file .php vengano gestiti da PHP 8.4
AddHandler av-php84 .php
