# Redirect any URL that doesn't match an existing file to "index.php"

# line 4: start the rewrite engine
RewriteEngine on 

# In this way, the URL for a favicon request is not overidden;
# L means "last rule", it means that the favicon requests is forwarded to the server as is, without any further processing by the PHP application
# for this reason, it must be esecuted as the last rule
RewriteRule ^favicon.ico$ - [L]

# the rewrite rule at line 9 is subject to the following condition: 
# if the requested file does not exist (!-f), redirects every URL (.*) to the script "index.php"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php

# redirect permanently (301) from http to https. NC means "no case" (case insensitive) so http = HTTP exc. 
# ^(.*)$ matches any URL, "." means any character, "*" means zero or more times, ^ means start of the string, and $ means end of the string.
# the first rule is used when the web app is executed in local.
# the second rewrite condition is used when there is a proxy which forwards the request to the server and adds the X-Forwarded-Proto header.
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# every php file must be readden by the PHP 8.4 handler (required by the web server)
AddHandler av-php84 .php
