.card {
    width: 250px;
    min-height: auto;
}

.card-header {
    position: initial;
}

.card-header-title {
    text-align: center;
    display: block;
}

.container {
    /* background-color: aliceblue; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 5fr);
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 200px;
}

.center {
    margin-right: 60px;
}

.subtitle {
    margin-top: 20px;
    text-align: justify;
    width: 100%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; /* Spaziatura tra le card */
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    min-height: 250px;
}

.card,
.card-header,
.card-footer {
    border: none;
}

.card-content {
    flex-grow: 1;
    max-height: 300px;
}

.card-content > .subtitle {
    flex-grow: 1;
    max-height: 190px;
}

.card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left {
        width: 100%;
        justify-content: space-between;
    }

    .center {
        margin-right: 0;
    }

    .navbar-item.has-text-link.transfer {
        display: inherit;
    }

    .card-content {
        min-height: 200px;
        max-height: 200px;
        overflow-y: scroll;
        padding: 20px;
    }

    .card {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-footer {
        min-height: fit-content;
        max-height: fit-content;
    }

    .card-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .card-header > .title {
        text-align: center;
        display: block;
    }
}
