.card.pager {
  padding: 10px;
  width: 100%;
  height: auto;
}

.card.pager.author {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card.pager.author > div,
.card.pager.author > footer {
  width: 100%;
}

.columns {
  margin: 20px;
}

.column.is-one-quarter.x,
.column.is-three-quarters.x {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
}

.column.is-three-quarters.x {
  max-height: 1000px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.icon.is-large.no-spacing {
  margin: 0;
  width: 20px;
  height: 20px;
}

.card-header-title.block {
  display: block;
  width: 100%;
  text-align: center;
}

.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.is-gapped.top-right {
  display: grid; /* Trasforma il contenitore in un grid container */
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.media-center {
  display: grid; /* Trasforma il contenitore in un grid container */
  place-items: center; /* Shorthand per justify-items: center; e align-items: center; */
}

.media-center > .media.left,
.media-center > .media.content,
.media-center > .is-gapped {
  padding: 20px;
}

.to-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

#mario,
#pasquale {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#franco {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

#luca {
  align-items: center;
}

@media screen and (max-width: 768px) {
  .columns {
    margin: 10px;
  }

  .column.is-one-quarter.x,
  .column.is-three-quarters.x {
    width: 100%;
    max-height: 100%;
  }

  .card.pager.author {
    width: 100%;
  }

  .media {
    flex-direction: column;
    align-items: center;
  }

  .media-center {
    width: 100%;
  }
}
