.card.pager {
    padding: 10px;
    width: 100%;
    height: auto;
}

.columns {
    margin-top: 20px;
}

.column.is-one-quarter.x , .column.is-two-quarters.x {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.column.is-two-quarters.x {
    max-height: 1000px;
} 

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.icon.is-large.no-spacing {
    margin: 0;
    width: 20px;
    height: 20px;
}

.card-header-title.block {
    display: block;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .body-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .card.text {
        max-width: 100%;
        text-align: center;
    }
}