.body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.card, .card-text, .card-comments {
    max-width: 300px;
    width: 100%;
    height: max-content;
}

.card-comments {
    max-width: 400px;
    height: max-content;
}

.subtitle {
    width: 100%;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .body-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .card.text {
        max-width: 100%;
        text-align: center;
    }
}