.body-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.body-container > .card {
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: inherit;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.card {
    padding: 10px;
}

.form {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}