.absolute-right {
    position: absolute;
    right: 0;
    z-index: 1000;
    margin-top: 50px;
    margin-right: 10px;
    max-height: fit-content;
    max-width: 250px;
    width: 100%;
}

.body-container {
    height: 100%;
    max-height: 700px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 100px;
}

.body-container > .card {
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.control.is-grouped {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.field > .control, .field > .control > .input {
    width: 100%;
}

.card > .title {
    display: block;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

span {
    margin-right: 5px;
}

textarea {
    text-decoration: none;
    font-family: unset;
}

.small-bold-text {
    font-size: 0.8rem;     /* oppure 12px */
    font-weight: bold;
    font-family: Arial, sans-serif; /* basic, leggibile */
    color: #000;           /* colore nero base */
}

input[type="file"] {
display: none; /* nasconde il file input */
}

label[for="upload"] {
display: inline-block;
background-color: #f0f1f0;
color: rgb(4, 1, 1);
padding: 10px 20px;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
max-width: 150px;          /* larghezza massima */
}