select {
    box-sizing: border-box !important;
}

.body-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.body-container > .card {
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    max-height: 600px;
}

.container {
    margin-top: 30px;
}

.body-container > .body-left > .card > .section > .control > .button {
    margin-top: 20px;
}

.control {
    max-width: 450px;
}

.control > button {
    width: 100%;
    max-width: 450px;
}

.control > input {
    max-width: 200px;
}

.subtitle {
    width: 100%;
    text-align: justify;
}

span {
    margin-right: 10px;
}

.card-footer-item i {
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .body-container {
        flex-direction: column;
        align-items: center;
    }

    .body-container > .card {
        width: 100%;
        max-width: 90%;
    }

    .field.is-grouped {
        flex-direction: column;
        align-items: center;
    }
}

/*--------------------------------------------------------------
# Custom cards
--------------------------------------------------------------*/

.card {
    min-height: 300px;
    max-height: 300px;
    box-sizing: content-box;
}

.card-content {
    padding: 12px;
}

.card-content,
.description {
    height: 145px;
}

.card-header {
    background-color: hsl(
        var(--bulma-warning-h),
        var(--bulma-warning-s),
        var(--bulma-warning-l)
    );
    height: 80px;
}

.card-header-title {
    text-align: center;
}

.description {
    overflow-y: scroll;
    padding: 5px;
    width: 100%;
    text-align: justify;
    text-overflow: ellipsis;
    white-space: pre-line;
    font-family: 'Ubuntu', sans-serif !important;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 5px
        hsl(
            var(--bulma-warning-h),
            var(--bulma-warning-s),
            var(--bulma-warning-l)
        );
}

.card-footer-item:hover {
    color: hsl(
        var(--bulma-warning-h),
        var(--bulma-warning-s),
        var(--bulma-warning-l)
    );
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
    gap: 30px;
}

.body-container > .card > .card-header {
    background-color: white;
}
